:root {
	--navbarHeight: 62px;
	--sidebarWidth: 300px;
}

.offcanvas-lg {
	width: var(--sidebarWidth) !important;
}

.navbar {
	min-height: var(--navbarHeight);
}

.logo {
	border-radius: 20%;
}

#content {
	margin-top: var(--navbarHeight);
	padding: 10px;
}

#sidebar-body,
#content {
	height: calc(100vh - var(--navbarHeight));
	overflow-y: auto;
	padding-bottom: calc(var(--navbarHeight) + 10px);
}

#navbar-top,
#content {
	width: 100%;
}

@media screen and (min-width: 992px) {
	#navbar-top,
	#content {
		width: calc(100% - var(--sidebarWidth));
		left: var(--sidebarWidth);
		padding-bottom: 10px;
	}
}

/* Scrolbar */
*::-webkit-scrollbar {
	width: 7px;
	background: #000;
}

.offcanvas-lg *::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #393939;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid #393939;
}

*::-webkit-scrollbar-thumb:hover {
	background: #fff;
}

#sidebar {
	scrollbar-width: thin;
}

/* login form */
.login-form__container {
	min-height: 77vh;
}

.login-form {
	max-width: 500px;
}

@media screen and (min-width: 768px) {
	.login-form__container {
		min-height: 82vh;
	}

	.login-form {
		min-width: 375px;
	}
}

/* .products-list-field {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.card-img-top {
	height: 12rem;
	width: auto;
}

.shopping-basket {
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.8);
}

.text-shadow {
	text-shadow: 10px 10px 25px rgb(0, 0, 0), -10px 10px 25px rgb(0, 0, 0),
		-10px -10px 25px rgb(0, 0, 0), 10px -10px 25px rgb(0, 0, 0);
} */
