:root {
	--navbarHeight: 62px;
}

.offcanvas-lg {
	width: 300px !important;
}

.navbar {
	min-height: var(--navbarHeight);
}

#sidebar-body {
	height: calc(100vh - var(--navbarHeight));
	overflow-y: auto;
}
